@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: dubai;
    color: #222b39;

}
#main{ 
    height: 100vh;
    width: 100vw;
    background-color: #222b39;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    /* background-color: red; */
}
#searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
#searchBtn{
    color:      white;
    text-transform: uppercase;
    text-decoration: none;
    background: #494e55;
    border-radius: 7px;
    margin-left: 40px;
    padding: 9px;
    border: 2px solid transparent;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.5 ease 0s;
    font-weight: 700;
    font-size:13px ;
}
#cityName{
    width: 28vw;
    overflow: hidden;
    font-size:20px ;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid white;
    color: white;
    outline: none;
    background: none;
}
input{
    border: none;
}
.card{
    position: relative;
    height: 500px;
    width: 400px;
    border-radius: 2vw;
    background-color: #ffffff;
    margin-top: 2.5vw;
    margin-left: 30vw;
    display: none;
}
.box{
    display: flex;
    align-items: center;
    margin-top: 0.5vw;
    justify-content: space-around;
    padding:0 1vw;
}
.b{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 2vw;
}
#logo{
    width: 130px;
    height: 130px;
}
.city{
    font-size: 35px;
    font-weight: 500;
    color: #222b39;
}
.date{
    font-size: 18px;
    color: #222b39;
    font-weight: 400;
    margin-top: -0.7vw;
}

.temp{
    font-size: 60px;
    letter-spacing: -3px;
    color: #222b39;
    margin-left: 3.5vw;
    font-family:roboto ;
    /* font-weight: 900; */
}

.b1{
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
    color: #222b39;
}
#divider{
    height: 40px;
    width: 1px;
    border-radius: 5px;
    background-color: #222b39;
    margin-left: 0.5vw;
}
#dividerx{
    height: 40px;
    width: 2px;
    border-radius: 5px;
    background-color: #222b39;
}
.mintemp{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.maxtemp{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mintemp h4{
    font-size: 15px;
}
.maxtemp h4{
    font-size: 15px;
    margin-left: 0.5vw;
}
.cover{
    display: flex;
    align-items: center;
}
.data{
    right: 0;
    top: 10vw;
    position: absolute;
    margin-right: 2vw;
}
.desc{
    text-transform: capitalize;
    font-size: 25px;
    color: #222b39;
    margin-top: -2vw;
    margin-left: 2vw;
    font-weight: 500;
}
.divi1{
    width: 90%;
    height: 1px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #222b39;
}
.divi2{
    width: 90%;
    height: 0.5px;
    margin-left: 5%;
    background-color: #222b39;
}
.divB{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#xx{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    font-size: 15px;
}
#next{
    margin-left: 1.1vw;
    margin-top: 0.5vw;
    font-size: 1.2vw;
    text-decoration: underline;
    color: #494e55;

}
.box3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0.7vw;
    margin-top: 0.5vw;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dt{
    font-size: 1vw;
    color: #38373a;
}
.minmax{
    font-size: 0.9vw;
    color:rgb(111, 109, 108) ;
}
.dc{
    font-size: 1vw;
    color: rgb(123, 137, 123);
}
@media screen and (max-width: 800px) {
    #main{
        overflow: hidden;
    }
    .card{
        position: relative;
        height: 450px;
        width: 350px;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        border-radius: 2vw;
        background-color: #ffffff;
        display: none;
        margin-left: 0vw;
    }
    #searchForm{
        flex-direction: column;
        margin-top: 0;
    }
    #cityName{
        width: 50vw;
        position: absolute;
        top: 10vw;
        margin:  0;
        padding:  0;
    }
    #searchBtn{
        position: absolute;
        top: 22vw;
        margin: 0;
    }
    #logo {
        width: 100px;
        height: 100px;
    }
    .b{
        margin-right: 3vw;
    }
    .city{
        font-size: 25px;
    }
    .date{
        font-size: 13px;
        opacity: 0.8;
    }
    .cover{
        margin-top: 2vw;
    }
    .divi1{
        margin-top: 10%
    }
    .temp{
        font-size: 40px;
        margin-left: 10vw;
        font-weight: 100;
    }
    .desc{
        text-transform: capitalize;
        font-size: 22px;
        color: #222b39;
        margin-top: -11vw;
        margin-left: 7.8vw;
        font-weight: 500;
    }
    .b1{
        margin-left: 10vw;
    }
    .mintemp h4 {
        font-size: 12px;
        font-weight: 600;
    }
    #divider{
        margin-left: 1.5vw;
        width: 1.5px;
    }
    .maxtemp h4 {
        font-size: 12px;
        margin-left: 1.5vw;
    }
    #xx{
        font-size: 13px;
    }
    .right h4,.right h5{
        margin-left: 2vw;
    }
    .left h4,.left h5{
        margin-right: 2vw;
    }
    #next {
        margin-left: 6vw;
        margin-top: 3.5vw;
        font-size: 4vw;
        text-decoration: underline;
        color: #494e55;
    }
    .dt {
        font-size: 3vw;
        color: #38373a;
    }
    .box3{   
        margin-top: 5vw;
    }
    .minmax {
        font-size: 2.8vw;
        margin-top: 2vw;
        color: rgb(111, 109, 108);
    }
    .dc {
        font-size: 2.8vw;
        margin-top: 2vw;
        color: rgb(123, 137, 123);
    }
    #dividerx{
        width: 1px;
    }
}